/* index.css or App.css */
body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.MuiContainer-root {
  padding-top: 20px;
}

@media (max-width: 600px) {
  .MuiContainer-root {
    padding: 10px;
  }
}
